.selectionBody {
  background-color: #f1f8f9;
  padding: 2rem 2rem;
  margin-left: -0.3rem;
}

.selection {
  color: #02464b;
  background-color: #ffffff;
  border-radius: 10px;
  width: 20rem;
  padding: 2rem;
  margin: 1rem 0 0 1rem;
}

.selectionButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectionButton Button {
  width: 9.125rem;
  height: 2.5rem;
  background-color: #c1d4d6;
  border: 4px solid #f1f8f9;
  font-size: 14px;
  font-weight: 600;
  color: #02383c;
  box-sizing: border-box;
  border-radius: 10px;
}

.selectionButton img {
  position: relative;
}

.selection li {
  list-style: none;
  padding-bottom: 1rem;
}

.selection ul {
  padding: 0;
  margin-top: 1.5rem;
  font-weight: 400;
}

.selection h1 {
  padding-bottom: 1rem;
}

.selection p {
  font-weight: 300;
}

.listCheck img {
  padding-right: 1rem;
}

.forcastCard {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
}
