.body {
    background-color: #F1F8F9;
    padding: 6rem 25rem 10rem 25rem;
}
.checkBox {
    background-color: white;
    text-align: center;
    border-radius: 0.7rem;
    width: 25rem;
    color: #02474C;
    padding: 2rem;
}
